@import "./../../sass/variables";
.project {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column: span 3;
  justify-content: space-evenly;
  transition: 0.3s ease-in-out grid-column;

  //   // Bulma Breakpoints
  // $screenXL: 1408px;
  // $screenL: 1216px;
  // $screenM: 1024px;

  // // tablet and landscape mobile
  // $screenS: 769px;

  // //mobile
  // $screenXS: 414px;

  @media screen and (max-width: $screenXL) {
    grid-column: span 4;
  }

  @media screen and (max-width: $screenM) {
    grid-column: span 6;
  }

  @media screen and (max-width: $screenXS) {
    grid-column: span 12;
  }
  &.expanded {
    grid-column: span 12;
    grid-row-start: 1;
  }

  h2 {
    margin-bottom: rem(6px);
    font-size: rem(24px);
    line-height: 1;
    text-align: center;

    a {
      color: $h-color;
      text-align: center;
    }
  }
  &__moreinfo {
    margin-bottom: rem(30px);
    color: $a-color;
    cursor: pointer;
    text-align: right;
    text-decoration: none;
  }
  &__stack {
    display: grid;
    grid-template-columns: repeat(5, [col-start] 1fr);
    gap: 5px;
    margin: rem(16px) 0 rem(32px) 0;
  }

  &__skill {
    align-items: center;
    background-color: $tag-color;
    border-radius: rem(7px);
    color: $bg-body;
    display: flex;
    font-family: $font-heading;
    font-size: rem(12px);
    font-weight: bold;
    justify-content: center;
    padding: rem(5px) rem(10px);
    text-align: center;
  }
}
