// real colors
$blue__tiffany: #07beb8;
$pink__infrared: #ef476f;
$purple__deep-amethyst: #9a7aa0;
$purple__american: #4c1e4f;
$white: #fff;

// semantic variables
$color-1: $white;
$accent-color-1: $blue__tiffany;
$accent-color-2: $pink__infrared;

$bg-1: $purple__american;
$bg-2: $purple__deep-amethyst;
