@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@300;400&display=swap");

@import "./sass/variables";
@import "./sass/layout";
body {
  // background-color: $bg-body;
  display: flex;
  font-family: $font-general;
  font-size: $html-font-size;
  justify-content: center;
  width: 100%;
  transition: 0.3s ease-out all;
}
#root {
  width: 100%;
}

.only-desktop {
  @media screen and (max-width: $screenXS) {
    display: none;
  }
}

.App {
  background-color: $bg-body;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  transition: 0.3s ease-out all;
  width: 100%;

  div,
  p,
  span,
  em,
  i {
    color: $h-color;
    font-family: $font-general;
    font-weight: normal;
    transition: 0.3s ease-out all;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  b {
    color: $p-color;
    font-family: $font-heading;
    font-weight: bold;
    transition: 0.3s ease-out all;
  }

  h1 {
    font-size: rem(72px);
  }

  h2 {
    font-size: rem(48px);
  }

  &.theme-master {
    background-color: $master-bg-body;

    div,
    p,
    span,
    em,
    i {
      color: $master-p-color;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    b {
      color: $master-h-color;
    }
  }
}

.logo {
  grid-column: span 10;
  height: rem(300px);
  margin: rem(50px) auto 0 auto;
}

.projects {
  border: 10px solid $border-color;
  border-radius: $border-radius;
  display: grid;
  gap: 20px;
  grid-column: span 12;
  grid-template-columns: repeat(12, [col-start] 1fr);
  margin: 0 0 rem(20px);
  padding: 20px;
  transition: 0.3s ease-out all;

  @media screen and (max-width: $screenXS) {
    margin: rem(20px);
    padding: 20px;
  }

  &__h2 {
    grid-column: span 12;
    text-align: center;
  }

  &.theme-master {
    border-color: $master-border-color;
  }
}
.description {
  font-family: $font-general;
  font-size: rem(24px);
  grid-column: span 12;
  padding: rem(64px);

  @media screen and (max-width: $screenXS) {
    font-size: rem(18px);
    padding: rem(24px);
    text-align: center;
  }
}

.footer {
  background-color: $bg-footer;
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
  padding: rem(64px);
  transition: 0.3s ease-out all;

  p {
    color: $footer-color;
    transition: 0.3s ease-out all;
  }

  &.theme-master {
    background-color: $master-tag-bg;
    p {
      color: $master-tag-color;
    }
  }
}
